.information {
  .box-rounded {
    background-color: #fff;
    color: #212121;
    padding: 15px 20px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    h4 {
      color: #2C3158;
      padding: 15px 0;
    }
  }

  .box-large {
    background-color: #fff;
    color: #212121;
    padding: 20px 40px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}

.btn-secondary {
  background-color: #4b5626;
  border-color: #4b5626;
}

.text-secondary-color {
  color: #4b5626;
  font-weight: bold;
}

.h-100vh {
  height: calc(100vh - 300px);
}

.d-block {
  margin: auto;
}

.carousel-caption {
  bottom: -150px;
}

.carousel-inner {
  padding-bottom: 150px;
}

.vote {
  display: flex;
  justify-content: center;
}

.alice-carousel__prev-btn {
  position: absolute;
  left: -3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem !important;

  span {
    font-size: 64px;
    font-weight: bold;
  }
}

.alice-carousel__next-btn {
  position: absolute;
  right: -3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem !important;

  span {
    font-size: 64px;
    font-weight: bold;
  }
}

.feature {
  font-size: 46px;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.box-link {
  color: #212121
}

.asciid-space {
  background-color: #212121;
}

.shrum-img {
  width: 100%;
  height: auto;
}


@-webkit-keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ab4907,
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.5),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.7),
      1.8em -1.8em 0 0em #ab4907, 2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.5),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.7), 2.5em 0em 0 0em #ab4907,
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.5),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.7), 1.75em 1.75em 0 0em #ab4907,
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.5),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.7), 0em 2.5em 0 0em #ab4907,
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.5),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.7), -1.8em 1.8em 0 0em #ab4907,
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.5),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.7), -2.6em 0em 0 0em #ab4907,
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.5),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.7), -1.8em -1.8em 0 0em #ab4907;
  }
}

@keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ab4907,
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.5),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.7),
      1.8em -1.8em 0 0em #ab4907, 2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.5),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.7), 2.5em 0em 0 0em #ab4907,
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.5),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.7), 1.75em 1.75em 0 0em #ab4907,
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.5),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.7), 0em 2.5em 0 0em #ab4907,
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.2),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.5),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.7), -1.8em 1.8em 0 0em #ab4907,
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.5),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.7), -2.6em 0em 0 0em #ab4907,
      -1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(171, 73, 7, 0.2),
      1.8em -1.8em 0 0em rgba(171, 73, 7, 0.2),
      2.5em 0em 0 0em rgba(171, 73, 7, 0.2),
      1.75em 1.75em 0 0em rgba(171, 73, 7, 0.2),
      0em 2.5em 0 0em rgba(171, 73, 7, 0.2),
      -1.8em 1.8em 0 0em rgba(171, 73, 7, 0.5),
      -2.6em 0em 0 0em rgba(171, 73, 7, 0.7), -1.8em -1.8em 0 0em #ab4907;
  }
}


.buttons-wrap {
  justify-content: space-between;
}

.list-header {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 3fr;
  font-weight: bold;
  margin-bottom: 1rem;

  div:last-child {
    text-align: center;
  }

  @media (max-width: 500px) {
    grid-template-columns: 2fr 2fr 2fr;
  }
}

.nft-list-item {
  grid-template-columns: 2fr 1fr 3fr;
  display: grid;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
  padding: 0.6rem 1.2rem 0.6rem 2.4rem;
  border-radius: 16px;
  transition: box-shadow .3s;

  @media (max-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &:hover {
    box-shadow: rgba(83, 83, 83, 0.3) 0px 4px 20px 0px;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    font-weight: bold;

    img {
      width: 100%;
      max-width: 40px;
      height: 40px;
      aspect-ratio: 1;
      object-fit: cover;
      margin-right: 1rem;
      border-radius: 4px;
    }
  }

  .item-description {
    display: flex;
    align-items: center;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;

    .nft-buy-button {
      height: 40px;
      width: 120px;
      background-color: #E8334F;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px 0px;
      transition: all .4s;
      color: white;
      font-weight: bold;
      font-size: 14px;
      border-radius: 4px;

      @media (max-width: 500px) {
        width: 80px;
      }
    }
  }

  .hide-desktop {
    display: none;

    img {
      margin-left: 0.5rem;
    }

    @media (max-width: 500px) {
      display: inline;
    }

  }

  .hide-mobile {
    display: inline;

    @media (max-width: 500px) {
      display: none;
    }

  }

}