.contributor-style img{
  width: 3em;
}

.contributor-style a{
  text-decoration: none;
  color: #6B4E3B;
  font-size: 1.5em;
}
.contributors-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* This ensures wrapping for smaller screens */
}
.contributor-style{
  display: inline-block;
  margin: 1em;
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .contributor-style img{
    width: 1.8em;
  }
  
  .contributor-style a{
    font-size: 1.5em;
  }
}