

.nav-link,
.btn {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #EBD5C7;
}

a.btn:hover,
a.btn:focus {
  text-decoration: none;
  color: #2C3158;
}

a {
  text-decoration: none;
}

