.navbar {
  transition: all 0.4s;
  background-color: #6B4E3B;
  position: relative;
  z-index: 1;

  .logo {
    max-height: 50px;
    margin-right: 10px;
  }

  .navbar-brand {
    text-decoration: none;
    font-size: 32px;
  }

  .nav-item {
    padding: 0 15px;
    text-align: start;
  }

  .nav-link,
  .btn {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: #EBD5C7;
  }

  a.btn:hover,
  a.btn:focus {
    text-decoration: none;
    color: #6B4E3B;
  }

  a {
    text-decoration: none;
  }
}

.navbar-nav{
  margin-right: 7%;
}

.navbar-brand h1{
  font-size: 32px;
}

.imagenespeciada {
    margin-left: 5px;
}

.dropdown {
  background-color: #6B4E3B;
}

.dropdown-menu {
  background-color: #6B4E3B;
  padding: 15px;
  border: 1px solid white;

  li {
    margin: 2px;
  }
}

.divider {
  border: 1px solid white;
}

@media (max-width: 360px) {
  .dropdown-menu {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .dropdown-menu.dropdown-menu--buy-spore {
    width: 262px;
  }
  
  .dropdown-menu.dropdown-menu--chart {
    width: 205px;
  }
  
  .dropdown-menu.dropdown-menu--how-to-buy {
    width: 198px;
  }
}


$fireColor: rgb(255, 0, 0);
$fireColorT: rgba(0, 0, 0, 0);
$dur: 1s;
$blur: 0.00001em;
$fireRad: 2em;
$parts: 10;
$partSize: 2;


.fire {
	font-size: 5px;
	filter: blur($blur);
	-webkit-filter: blur($blur);
	position: relative;
	width: 6em;
	height: 4em;
  margin-left: -15px;
}

.fire2 {
	font-size: 5px;
	filter: blur($blur);
	-webkit-filter: blur($blur);
	position: relative;
	width: 10em;
	height: 4em;
  margin-left: -80px;
}
.particle {
	animation: rise $dur ease-in infinite;
	background-image: radial-gradient($fireColor 40%,$fireColorT 60%);
	border-radius: 50%;
	mix-blend-mode: screen;
	opacity: 0;
  position: absolute;
	bottom: 0;
	width: $partSize;
	height: $partSize;
	// spread particles out in time and x-position to get desired effect
	@for $p from 0 through $parts {
		&:nth-of-type(#{$p}) {
			animation-delay: $dur * random();
			left: calc((10% - #{$partSize}) * #{($p - 1)/$parts});
		}
	}
}

.fire-container {
  display: flex;
}


@keyframes rise {
	from {
		opacity: 0;
		transform: translateY(0) scale(1);
	}
	95% {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translateY(-3em) scale(0);
	}
}