.navbar {
  transition: all 0.4s;
  background-color: #6B4E3B;
  position: relative;
  z-index: 1;

  .logo {
    max-height: 50px;
    margin-right: 10px;
  }

  .navbar-brand {
    text-decoration: none;
    font-size: 32px;
  }

  .nav-item {
    padding: 0 15px;
    text-align: start;
  }

  .nav-link,
  .btn {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    color: #EBD5C7;
  }

  a.btn:hover,
  a.btn:focus {
    text-decoration: none;
    color: #6B4E3B;
  }

  a {
    text-decoration: none;
  }
}

.navbar-nav{
  margin-right: 7%;
}

.navbar-brand h1{
  font-size: 32px;
}

.imagenespeciada {
    margin-left: 5px;
}

.dropdown {
  background-color: #6B4E3B;
}

.dropdown-menu {
  background-color: #6B4E3B;
  padding: 15px;
  border: 1px solid white;

  li {
    margin: 2px;
  }
}

.divider {
  border: 1px solid white;
}

@media (max-width: 360px) {
  .dropdown-menu {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .dropdown-menu.dropdown-menu--buy-spore {
    width: 262px;
  }
  
  .dropdown-menu.dropdown-menu--chart {
    width: 205px;
  }
  
  .dropdown-menu.dropdown-menu--how-to-buy {
    width: 198px;
  }
}
