#bridge {
  .rowBridge {
    position: relative;
  }

  .arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 99;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 50%;
    background-color: #fff;

    .btn {
      border: 0;
      padding: 15px 20px;
      transition: all 0.5s ease-in-out;

      &.reverted {
        transform: rotate(-180deg);
      }

      &:hover,
      &:active,
      &:focus {
          border: 0;
          background-color: transparent;
      }
    }

    .fa {
      color: #4B5626;
      font-size: 46px;
    }
  }

  .card-title span {
    color: rgba(0,0,0,.50);
    padding-right: 15px;
  }

  .dropdown-menu {
    padding: 5px;
    width: 100%;

    a {
      color: #212121;
      text-decoration: none;
    }

    li {
      padding: 3px 5px;

      button {
        font-size: 22px;
        border: 0;
        background-color: #fff;
      }
    }

    img {
      height: 32px;
      margin-right: 10px;
    }
  }

  .dropdown .btn {
    width: 100%;
    text-align: left;
    background-color: #f1f3f6;
  }

  .dropdown-toggle:after {
    float: right;
    position: relative;
    top: 7px;
  }

  .final-spores {
    font-weight: 600;
    font-size: 18px;
  }
  
  .avalanche{
    background-color: #e84142;
  }
  
  .binance{
    background-color: #f3ba2f;
  }
  
  .white{
    background-color: white;
  }
  
  #swap-btn {
    font-size: 28px;
  }
  
  #approve-btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 974px) {
  #bridge {
    .arrow {
      right: 0px;
      left: auto;
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
      top: calc(50% + 60px);
    }
  }
}

@media screen and (max-width: 640px) {
  #bridge {
    .arrow {
      right: 0px;
      left: auto;
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
      top: calc(50% + 60px);
  
      .fa {
        font-size: 32px;
        position: relative;
        top: 1px;
      }
    
      .btn {
        padding: 11px 13px;
      }
    }
  }
}

.limit{
  width: 300px;
  word-wrap: break-word;
  padding: 8px 0 0 0;
  position:relative;
}