.BurnedTokens {
  display: flex;
  flex-direction: column;
  font-size: calc(1px + 1.5vmin);
  color: white;
}

ul { margin: 2px;}

a {
  color: white;
  text-decoration: underline;
}
a:hover {
  cursor: pointer;
}


.chainLink{
  color: grey;
}

.bscLink{
  color:#4B5626;
}

.bscLink:hover{
  color:grey;
}